body {
    font-family: 'Inter', sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nousvousservons {
    font-style: bold;
}

.inscription {
    background-color: #6415ff;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.inscription:hover {
    background-color: darkblue;
}

.photo1 {
    height: 300px;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
}

.container2 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.menudelicieux {
    margin-left: 50px;
}

.repaschezvous {
    background-color: #6415ff;
    color: white;
    font-style: italic;
    width: 280px;
}

.commandermtn {
    background-color: #6415ff;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.commandermtn:hover {
    background-color: darkblue;
}

.leschefs {
    background: none;
    border: none;
}

.container3 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nousvousservons {
    margin-left: 50px;
}

.installé {
    color: #6415ff;
}

.photo2 {
    height: 300px;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
}

.depuis5ans {
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 220px;
}

.ajouter1an {
    display: block;
    font-weight: bold;
    background-color: #6415ff;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.ajouter1an:hover {
    background-color: darkblue;
}

.incroyable {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.presta {
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
}

.logosprestations {
    display: flex;
    justify-content: space-around;
}

.photo3, .photo4, .photo5 {
    width: 60px;
    background-color: rgb(228, 228, 228);
    border-radius: 30px;
}

.buttons {
    background: none;
    border: none;
    font-weight: bold;
    color: #6415ff;
}

.container5 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nouschoisir {
    margin-left: 50px;
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 230px;
}

.nouschoisirr {
    margin-left: 50px;
}

.marque {
    color: #6415ff;
}

.ul {
    font-weight: bold;
}

.nombresaleatoires {
    display: block;
    font-weight: bold;
    background-color: #6415ff;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.les3c {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: rgb(228, 228, 228);
    display: flex;
    padding-top: 50px;
    align-items: baseline;
    justify-content: space-around;
}

.footer2 {
    background-color: rgb(228, 228, 228);
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo2, .logofb, .logotwi, .logoytb {
    height: 30px;
    width: 30px;
}

/* Responsive */

@media (max-width: 768px) {
    .container {
        align-items: center;
        justify-content: start;
    }

    .span {
        display: none;
    }

    .container2 {
        width: 85%;
        display: block;
    }

    .menudelicieux {
        display: block;
        position: absolute;
    }

    .photo1 {
        align-items: center;
    }

    .container3 {
        width: 85%;
        display: block;
    }

    .nousvousservons {
        display: block;
        position: absolute;
    }

    .photo2 {
        margin-top: 200px;
    }
}