body {
    font-family: 'Inter', sans-serif;
}

.logotitre {
    display: flex;
    align-items: center;
}

.menus {
    display: flex;
}

.logo {
    height: 60px;
    width: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nousvousservons {
    font-style: bold;
}

.inscription {
    background-color: #6415ff;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.photo1 {
    height: 300px;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
}

.container2 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.menudelicieux {
    margin-left: 50px;
}

.repaschezvous {
    background-color: #6415ff;
    color: white;
    font-style: italic;
    width: 280px;
}

.commandermtn {
    background-color: #6415ff;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.leschefs {
    background: none;
    border: none;
}

.container3 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nousvousservons {
    margin-left: 50px;
}

.installé {
    color: #6415ff;
}

.photo2 {
    height: 300px;
    border-radius: 30px;
    display: flex;
    margin-left: auto;
}

.depuis5ans {
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 220px;
}

.ajouter1an, .nombresaleatoires {
    display: block;
    font-weight: bold;
    background-color: #6415ff;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.container4 {
    padding: 50px;
}

.incroyable {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.incroyablee {
    display: flex;
    justify-content: center;
}

.presta {
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 160px;
    padding-left: 10px;
    padding-right: 10px;
}

.logosprestations {
    display: flex;
    justify-content: center;
}

.photo3, .photo4, .photo5 {
    width: 80px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
}

.photo3:hover, .photo4:hover, .photo5:hover {
    padding: 3px;
}

.buttons {
    background: none;
    border: none;
    font-weight: bold;
    color: #6415ff;
}

.container5 {
    display: flex;
    align-items: center;
    padding: 50px;
}

.nouschoisir {
    background-color: #6415ff;
    font-style: italic;
    color: white;
    width: 230px;
}

.nouschoisirr {
    margin-left: 50px;
}

.marque {
    color: #6415ff;
}

.ul {
    font-weight: bold;
}

.les3c {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: rgb(228, 228, 228);
    display: flex;
    padding-top: 50px;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 30px;
}

.footer2 {
    background-color: rgb(228, 228, 228);
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.logo2, .logofb, .logotwi, .logoytb {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 30px;
}

.email {
    background-color: blue;
}

input {
    background: #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

.inscription2 {
    background-color: #6415ff;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.inscription:hover, .inscription2:hover, .commandermtn:hover, .ajouter1an:hover, .nombresaleatoires:hover {
    background-color: darkblue;
}

.input:hover {
    border-color: #6415ff;
}

.separation {
    height: 1px;
    border-top: 1px, black;
}

/* Responsive */

@media (max-width: 768px) {
    .container {
        align-items: center;
        justify-content: start;
    }

    .span {
        display: none;
    }

    .container2, .container3 {
        width: 85%;
        display: block;
    }

    .menudelicieux, .nousvousservons  {
        display: block;
        position: absolute;
    }

    .photo1 {
        align-items: center;
    }

    .photo2 {
        margin-top: 200px;
    }

    .footer, .footer2 {
        width: 1000px;
    }

    .logosprestations {
        display: grid;
    }

    .incroyablee {
        display: inline-flex;
        padding-top: 250px;
    }

    .presta {
        display: inline-flex;
        width: 175px;
    }

    .container5 {
        display: inline-grid;
        width: auto;
    }
}